.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
    font-family: 'Playfair Display', serif;
    // background-color: red;
    // width: 100%;

    .login-signup{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 350px;
        // background-color: blue;

        .magnify-icon{
            cursor: pointer;
        }

        .become-a-member{
            // background-color:purple;
            font-size: 16px;
            color:rgba(165, 165, 165, 0.82);
            font-weight: 400;
            cursor: pointer;
        }

        .become-a-member:hover{
            color: rgba(94, 93, 93, 0.82)
        }

        .login{
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: #03a87c;
        }
        
        .login :hover{
            color: #018e68;
        }

        .get-started{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 37px;
            width: 105px;
            // background-color: red;
            cursor:pointer;
            border: 1px solid #03a87c;
            border-radius: 3px;
            color: #03a87c;
            // font-family: Georgia, 'Times New Roman', Times, serif;
        
        }

        .get-started:hover{
            color: #018e68;
            border-color: #018e68;    
        }
    }
}



