.logout-create-story-profile{
    display:flex;
    justify-content: space-between;
    // background-color: yellow;
    width: 300px;

    .logout-container{
        display:flex;
        justify-content: center;
        align-items: center;
        color: #03a87c;
        cursor: pointer;
        // background-color: purple;
    }

    .logout:hover{
        color:#018e68;
    }

    .create-story{
        text-decoration: none;
        color:#03a87c;
        display:flex;
        justify-content: center;
        align-items: center;
        // background: gray;
    }

    .create-story:hover{
        color:#018e68;
    }

    .profile-container{
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color:blue;
        height: 37px;
        width: 105px;
        text-decoration: none;
        border: 1px solid #03a87c;
        border-radius: 3px;

        .profile{
            color: #03a87c;
        }

        .profile:hover{
            color:#018e68
        }
    }

    .profile-container:hover{
        color: #018e68;
    }
}