.nav-bar{
    padding: 0 200px;
    // background: green;
    display:flex;
    justify-content: space-between;
}

.nav-bar .login-signup-logout{
    display: flex;
    align-items: center;
    // background: red;
    text-align: center;
    vertical-align: center;
}
