.story-show-details-author-follow-like-container{
    display: flex;
    justify-content: space-between;
    .story-show-author{
        display: flex; 
        justify-content: space-between;
        align-items: center;
        width: 300px;
        height: 100px;
        // background-color: blue;

        .story-show-profile-pic{
            border-radius: 100%;
            height: 50px;
            width: 50px;
            // background-color: purple;
            border: 1px solid black;
            text-align: center;
            vertical-align: middle;
        }

        .story-show-author-details{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            height: 50px;
            // background-color: red;
                
            .story-show-user-name-link{
                text-decoration: none;
                width: 200px;
                
                .story-show-name{
                font-size: 20px;
                // width:100px;
                text-decoration: none;
                // text-align: center;
                color: black;
                }

            }
    
            .follow-button{
                // background-color: green;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                font-size: 20px;
                border: 1px solid rgb(85, 29, 29);
                color: rgb(85, 29, 29);
                width: 80px;
                height: 20px;
                cursor: pointer;
                text-align: center;
                vertical-align: center;
                // position:relative;
                // right: 20px;
            }

            .follow-button:hover{
                border: 1px solid rgb(29, 10, 10);
                color: rgb(29, 10, 10);
            }

            .story-show-details-date-star{
                display: flex;
                width: 100%;
                justify-content: space-between;
                color: rgba(138, 138, 138, 0.82)
            }
        }    

    }

    .liked-container{
        display: flex;
        align-items: flex-end;
        width: 120px;
        justify-content: space-between;
        position: relative;
        bottom: 10px;
    }

}