.story-show {
    display: flex;
    flex-direction: column;
    // background-color: green;
    position: relative;
    top: 100px;
    width: 1000px;
    margin:0 auto;
    
    .story-show-details-title{
        font-size: 55px;
        // background-color:purple;
        height:100px;  
    }

    .story-show-image{
        object-fit: cover;
        height: 500px;
        width: 1000px;
        // background-color: yellow;
    }

    .story-show-details-body{
        margin: 55px 0 0 0;
        font-size: 35px;
        line-height: 1.6;
        // background-color: purple;

        div{
            margin-bottom: 40px;
        }
    }

    .num-likes{
        width: 30px;
        // height:20px;
        // text-align: center;
        // position: relative;
        // left: 995px;
        // top: 180px;
        // border-radius: 4px;
        font-size: 20px;
        // border: 1px solid rgb(85, 29, 29);
        color: rgb(85, 29, 29);
    }

    .liked-description-container{
        // background-color: red;
        display:flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height:20px;
        text-align: center;
        // position: relative;
        left:  900px;
        top: 200px;
        cursor: pointer;
        border-radius: 4px;
        font-size: 20px;
        border: 1px solid rgb(85, 29, 29);
        color: rgb(85, 29, 29);

    }

    .liked-description-container:hover{
        border: 1px solid rgb(29, 10, 10);
        color: rgb(29, 10, 10);
    }
}





// .story-show .comments {
//     height: 150px;
//     width: 700px;
//     background-color: black;
//     background: white;
//     margin: 50px 0 50px 0;
//     box-shadow: -1px 1px 5px 5px rgba(184, 184, 184, 0.75);
// }