.comment-show-container{
    width: 300px;
    height: 150px;
    margin-bottom: 30px;
    box-shadow: -1px 1px 5px 5px rgba(184, 184, 184, 0.75);
    padding: 50px;
    border-radius: 50px;
    // background-color: yellow;

    .comment-show-image{
        text-decoration: none;
    }
    
    img{
        height:50px;
        width:50px;
        border-radius: 20px;
        margin-bottom: 10px;
    }

    .comment-show-author-container{
        // background-color: blue;
        text-decoration: none;
        color:#03a87c;
        font-size: 16px;
        // display:flex;
        // justify-content: center;
        // align-items: center;
        margin-bottom: 10px;
    }
    .comment-show-body-container{
        height: 60px;
        overflow-y: scroll;
        margin-bottom: 10px;
        .comment-show-body{
            // background-color: purple;
            font-size: 20px;
            width: 100%;
            font-size: 12px;
            margin-bottom: 10px;
        }
    }

    .comment-show-delete{
        cursor: pointer;
        color: rgba(228, 135, 135, 0.89);
        font-size: 16px;
    }
}
    