.modal-background {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(240, 239, 239, 0.7);
    z-index: 10;
}

.modal-child {
    display: flex;
    justify-content: center;
    align-items: center; 
    -webkit-box-shadow: -1px 1px 5px 5px rgba(184, 184, 184, 0.75);
    -moz-box-shadow: -1px 1px 5px 5px rgba(184, 184, 184, 0.75);
    box-shadow: -1px 1px 5px 5px rgba(184, 184, 184, 0.75);
    background: white;
    width: 900px;
    height: 550px;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
}

.session-header{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    background: green;
    width: 300px;
    height: 120px;
}

.session-header > *{
    text-align: center;
}

.session-header :first-child{
    background: red;
}

.session-header :nth-child(2){
    background:blue;
}

.session-form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: yellow;
    height: 400px;
}

.session-form{
    display:flex;
    flex-direction: column;
}

.session-form :last-child{
    margin: 20px;
}

