.categories{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    color: rgba(165, 165, 165, 0.82);
    font-size: 16px;
    width:100%;
    height:50px;
    margin: auto;
    position: relative;
    // left: 200px;
    top: 0px;
    cursor: pointer;
    position: sticky;
    z-index: 1;
    background-color: white;
}

.categories-container{
    display:flex;
    justify-content: space-between;
    // justify-content: flex-start;
    width:933.76px;
    // background-color:yellow;
    position: relative;
    left: 200px;
}