.left-right-featured{
    .story-home-feed{
        display:flex;
        flex-direction: column;
        justify-content: space-between;

        .story-image-home-feed-container{
            width: 450px;
            height:170px;
            
            .story-image-home-feed{
                width: 100%;
                height:100%;
                object-fit: cover;
            }

            #youtube-fullscreen{
                    text-align: center;
                    cursor: pointer;
                    color: #03a87c;
            }

        }

        .story-details-home-feed{
            // background-color:purple;
            height: 140px;
            width: 350px;
            position: relative;
            left: 60px;
            bottom: -28px;
            display:flex;
            flex-direction: column;
            justify-content: space-between;

            .story-details-title-home-feed{
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 20px;
                text-decoration:none;
                color: black
            }

            .story-details-body-home-feed{
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 16px;
                color: rgba(138, 138, 138, 0.82);
                position: relative;
                bottom: 6px;
                text-decoration:none;
            }
        }
    }
}

.mid-featured{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;
    position: relative;
    right: 25px;
    height: 350px;

    .story-home-feed{
        display:flex;
        justify-content: space-between;
        top: 100px;
        height: 100px;

        .story-image-home-feed-container{
            width: 100px;
            height:100px;
            position: relative;
            left: 20px;
            // overflow: hidden;

            .story-image-home-feed{
                width: 100%;
                height:100%;
                object-fit: cover;
                position: relative;
            }

            #youtube-fullscreen{
                    text-align: center;
                    cursor: pointer;
                    color: #03a87c;
            }
        }
        .story-details-home-feed{
            // background-color: purple;
            width: 200px;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            left: 43px;
            height: 100px;
            font-size: 16px;
            
            .story-details-title-home-feed{
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 15px;
                text-decoration: none;
                color: black;
            }

            .story-details-body-home-feed{
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 12px;
                color: rgba(138, 138, 138, 0.82);
                text-decoration: none;
            }

            .story-details-user{
                font-size: 12px;
            }

        }
    }
}