.featured .mid-featured{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // background-color:blue;
    // width: 500px;
}

.featured .mid-featured .story-home-feed{
    display: flex;
    width: 300px;
    height: 120px;
    justify-content: space-between;
    // background-color: yellow;
}

.featured .mid-featured .story-details-home-feed{
    // background-color: purple;
    width: 200px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    left: 43px;
    // height: 150px;
}

.featured .mid-featured .story-image-home-feed{
    // background-color: yellow;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // left: 20px;
}

.featured .mid-featured .story-image-home-feed-container{
    width: 100px;
    height:100px;
    position: relative;
    left: 20px;
}

.featured .mid-featured .story-details-title-home-feed{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.featured .mid-featured .story-details-body-home-feed{
    font-size: 13px;
    color: rgba(138, 138, 138, 0.82);
    text-decoration: none;
}

.featured .right-featured{
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    // background-color: purple;
    width: 350px;
}

.featured .right-featured .story-home-feed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.featured .right-featured .story-image-home-feed{
    // background-color: yellow;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured .right-featured .story-image-home-feed-container{
    width: 325px;
    height:150px;
    position: relative;
    left: 62px;
    bottom: 23px;
}

.featured .right-featured .story-details-home-feed{
    // background-color:red;
    height: 170px;
    width: 270px;
    position: relative;
    left: 37px;
    bottom: 23px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.featured .right-featured .story-details-title-home-feed{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    text-decoration: none;
    color: black
}

.featured .right-featured .story-details-body-home-feed{
    font-size: 13px;
    color: rgba(138, 138, 138, 0.82);
    position: relative;
    bottom: 6px;
    text-decoration: none;
}

.featured .left-featured{
    // background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.featured .left-featured .story-home-feed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}


.featured .left-featured .story-image-home-feed{
    // background-color: yellow;
    width: 100%;
    height:100%;
    object-fit: cover;
    position: relative;
}

.featured .left-featured .story-image-home-feed-container{
    width: 450px;
    height: 150px;
    position: relative;
    right: 35px;
    bottom: 23px;
}

.featured .left-featured .story-details-home-feed{
    // background-color:red;
    height: 170px;
    width: 270px;
    position: relative;
    right: 40px;
    bottom: 23px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.featured .left-featured .story-details-title-home-feed{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    text-decoration:none;
    color: black
}

.featured .left-featured .story-details-body-home-feed{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    color: rgba(138, 138, 138, 0.82);
    position: relative;
    bottom: 6px;
    text-decoration:none;
}
