.left-right-featured {
  height: 80%;
  width: 100%;
  // background: blue;

  .story-home-feed {
    display: grid;
    grid-template: 45% 10% 45% / 10% 60% 30%;
    width: 100%;
    height: 100%;
    // background-color: red;

    .story-image-home-feed-container {
      grid-column: 1 / 4;
      grid-row: 1/2;
      width: 100%;
      height: 100%;
      .story-image-home-feed {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .story-details-home-feed {
      grid-column: 2/3;
      grid-row: 3/4;
      display: flex;
      flex-direction: column;

      .story-details-title-home-feed {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 20px;
        text-decoration: none;
        color: black;
        margin-bottom: 10px;
      }

      .story-details-body-home-feed {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 16px;
        color: rgba(138, 138, 138, 0.82);
        text-decoration: none;
        margin-bottom: 10px;
      }
    }
  }
}

.mid-featured {
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  // grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 33.333%);

  .story-home-feed {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: repeat(2, 50%);
    grid-column: 1/3;

    .story-image-home-feed-container {
      width: 100%;
      height: 100%;

      .story-image-home-feed {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .story-details-home-feed {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column: 2/3; 
      margin-left: 10px;
      display: flex;
      flex-direction: column;

      .story-details-title-home-feed {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 12px;
        text-decoration: none;
        color: black;
        margin-bottom: 10px;
      }

      .story-details-body-home-feed {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 12px;
        color: rgba(138, 138, 138, 0.82);
        text-decoration: none;
        margin-bottom: 10px;
      }

      .story-details-user {
        font-size: 12px;
      }
    }
  }
}
