.home-feed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    // background-color: purple;

    .twitter-unfeatured{
        // background-color: purple;
        display:flex;
        width: 1250px;
        justify-content: space-between;
        padding:0,300,0,300;
        

    }

}

.featured{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 0px 115px 80px 115px;
    // background-color: blue;
    height: 700px;
    width: 1300px;
    border-bottom: 1px solid lightgray;
    padding: 0 0 40px 0;
}


.home-categories{
    color: black;
}

.story-details-home-feed{
    cursor:pointer; 
    text-decoration: none;
    color: black;
}

.story-image-home-feed{
    cursor:pointer;
    text-decoration: none;
}

.story-details-user{
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    // background-color:blue;
}


.left-featured{
    display: flex;

}