.unfeatured-container{
    display: flex;
    // flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    // background-color: green;
    width: 600px;

    .unfeatured-stories{
        width:650px;
        // background-color: green;

        .story-home-feed{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            // background-color:yellow;
        }

            .story-image-home-feed-container{
                height: 170px; /* [1.1] Set it as per your need */
                overflow: hidden; /* [1.2] Hide the overflowing of child elements */

                .story-image-home-feed{
                    // background-color: yellow;
                    width: 150px;
                    height: 150px;
                    position: relative;
                    object-fit: cover;
                    transition: transform .5s ease;
                    // left: 30px;
                }

                .story-image-home-feed:hover{
                    transform: scale(1.5);
                }

                #youtube-fullscreen{
                    text-align: center;
                    cursor: pointer;
                    color: #03a87c;
                }
            }
        
        .story-details-home-feed{
            display: flex;
            flex-direction: column;
            width:420px;
            // height: 100px;
            justify-content: space-between;
            margin: 0 0 30px;
            // background-color: red;
            height: 150px;
        }
        
        .story-details-body-home-feed{
            width: 420px;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 16px;
            color: rgba(138, 138, 138, 0.82);
            position: relative;
            bottom: 20px;
            text-decoration: none;
            // background-color: yellow;
        }
        
        .story-details-title-home-feed{
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 20px;
            text-decoration: none;
            color:black
            // background-color:purple;
        }
        
        .story-details-user{
            font-size: 13px;
        }
    }

    .unfeatured-popular{
        width: 328px;
        height:700px;
        // background-color: blue;

        .title-container{
            // background-color:yellow;
            font-size: 24px;
            padding: 0 0 16px;
            margin: 32px;
        }
    }
}


.img-hover-zoom {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}
