.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
    box-shadow: -1px 1px 5px 5px rgba(184, 184, 184, 0.75);;
    // background: blue;
    // width: 100%;
}

.login-signup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    // background-color: blue;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    width: 105px;
    // background-color: red;
    cursor: pointer;
    border: 1px solid #03a87c;
    border-radius: 3px;
    color: #03a87c;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.get-started{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    width: 105px;
    // background-color: red;
    cursor:pointer;
    border: 1px solid #03a87c;
    border-radius: 3px;
    color: #03a87c;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.logout-create{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    background-color: blue;
}

.header-link{
    display: block;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    outline: none;
    color: black;
    
}

.get-started:hover{
    color: #01916b;
    border-color: #01916b;
}

.login :hover{
    color: #01916b;
    border-color: #01916b;
}

.create-story{
    text-decoration: none;
    color: #03a87c;
}


