.story-show{
    display: flex;
    flex-direction: column;
    // align-items: center;
    // background-color: green;
    position: relative;
    top: 100px;
    width: 700px;
    margin:auto;
}

.story-show-image{
    height: 200px;
    width: 700px;
    background-color: yellow;
}

.story-show .story-show-details-title{
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    // background-color:purple;
    height:50px;  
}


.story-show .story-show-details-body{
    margin: 55px 0 0 0;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.story-show .comments {
    height: 100px;
    width: 700px;
    background-color: black;
    margin: 50px 0 0 0;
}