.story-show{
    display: flex;
    flex-direction: column;
    // align-items: center;
    // background-color: green;
    position: relative;
    top: 100px;
    width: 700px;
    margin:auto;
}

.story-show-image{
    height: 200px;
    width: 700px;
    background-color: yellow;
}

.story-show .story-show-details-title{
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    // background-color:purple;
    height:50px;  
}


.story-show .story-show-details-body{
    margin: 55px 0 0 0;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
}

.story-show .comments {
    height: 150px;
    width: 700px;
    background-color: black;
    background: white;
    margin: 50px 0 50px 0;
    box-shadow: -1px 1px 5px 5px rgba(184, 184, 184, 0.75);
}